---
title: Akash Pillai
---
<!doctype html>
<html lang="en" class="bg-primary-bg font-body text-gray-300 antialiased">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ title }}</title>
        <link rel="canonical" href="{{ canonical }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap">
        <link rel="stylesheet" href="/app.css">
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158040337-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'UA-158040337-2');
        </script>
    </head>
    <body>
        {{{ content }}}
    </body>
</html>
